#movies {
    min-height: calc(100vh - 120px);
    padding: 30px 0;
    margin-top: 120px;

    .movie {
        width: calc(100% / 5 - 30px);
        padding: 20px;
        border-radius: 10px;
        margin: 15px;
        box-shadow: inset 0 0 10px 1px #808080;
        transition: transform .3s;

        &:hover {
            transform: scale(1.08);
        }

        ul {
            li {
                margin: 5px 0;
                font-size: 15px;
                color: $base_color;
                text-shadow: 1px 1px 3px black;

                strong {
                    font-size: 16px;
                    font-weight: 500;
                    color: $title_color;
                }
            }
        }
    }
}